/*
Orange color : #e67e22
gray background color : #f4f4f4
*/

/* ------------------------------------------- */
/* BASIC SETUP */
/* ------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

/* THIS CLASS WILL CLEAR THE FLOAT AFTER AN ELEMENT */
.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ------------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.section-features {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

/* ------ HEADING ------- */
h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    margin-bottom: 30px;
    word-spacing: 2px;
    text-align: center;
    letter-spacing: 1px;
}

h2:after {
    display: block;
    content: " ";
    background-color: #e67e22;
    width: 100px;
    height: 2px;
    margin: 0 auto;
    margin-top: 30px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

.h2margin {            /* REMEMBER */
    margin-top: 85px;
}

.plans-box h3 {        /* REMEMBER */
    margin-top: 0;
}


/* ------ PARAGRAPHS ------- */
.long-copy {
    width: 70%;
    line-height: 145%;
    margin-left: 15%;
    word-spacing: 2px;
}

.box p {
    line-height: 145%;
    font-size: 90%;
}


/* ------ ICONS ------- */
.icon-big {
    color: #e67e22;
    font-size: 350%;
    margin-bottom: 10px;
    display: block;
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    font-size: 120%;
    color: #e67e22;
    margin-right: 5%;
    
    /* Secrets to align text and icons */
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}


/* ------ BUTTONS ------- */
.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    font-weight: 300;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 200px;
    border: 1px solid #e67e22;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    -o-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    color: #fff;
    background-color: #e67e22;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited{
    color: #e67e22;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #cf6d17;
    border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active{
    color: #fff;
}

/* ------ LINKS ------- */

a:link,
a:visited {
    color: #e67e22;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #e67e22;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    -o-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: #555;
    border-bottom: 1px solid transparent;
}

.twitter-icon:hover {
    color: #ef4aef;
    -webkit-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
}


/* ------------------------------------------- */
/* HEADER */
/* ------------------------------------------- */


header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(img/hero-min.jpg);
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero-min.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero-min.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* ------ LOGO ------- */
.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.logo-black { 
    display: none; 
    height: 50px;
    width: auto;
    float: left;
    margin: 5px 0 ;
}


/* ------ MAIN NAVIGATION BAR ------- */
.main-nav {
    list-style: none;
    float: right;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 10px 0;
    color: #fff;
    font-size: 90%;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    -o-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}


/* ------ MOBILE NAVI ------- */
.mobile-nav-icon {
    margin-top: 30px;
    float: right;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i {
    font-size: 200%;
    color: #fff;
}


/* ------ STICKY NAVIGATION  ------- */
.sticky {
    background-color: rgba(255, 255, 255, 0.98);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-box-shadow: 0 2px 2px #efefef;
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}

.sticky .main-nav { margin-top: 20px; }

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 16px 0;
    color: #555;
}

.sticky .logo { display: none; }
.sticky .logo-black { display: block; }

 

/* ------------------------------------------- */
/* FEATURES */
/* ------------------------------------------- */

.section-features .long-copy {
    margin-bottom: 30px;
}


/* ------------------------------------------- */
/* MEALS */
/* ------------------------------------------- */

.section-meals {
    padding: 0;
}

.meals-showcase {
    width: 100%;
    list-style: none;
}

.meals-showcase li {
    float: left;
    width: 25%;
    display: block;
}

.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.meal-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    -o-transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.meal-photo img:hover {
    opacity: 1;
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}


/* ------------------------------------------- */
/* HOW IT WORKS? */
/* ------------------------------------------- */

.section-steps {
    background-color: #f4f4f4;
    margin-bottom: 60px;        /* REMEMBER */
}

.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
    margin-bottom: 70px;       /* REMEMBER */
}

.steps-box:last-child {
    padding-left: 3%;
    margin-top: 70px;
}

.app-screen {
    width: 40%;
}

.works-step {
    margin-bottom: 50px;
}

.works-step:last-of-type {
    margin-bottom: 80px;
}

.works-step div {
    color: #e67e22;
    border: 2px solid #e67e22;
    border-radius: 50%;
    padding: 5px;
    font-size: 150%;
    width: 55px;
    height: 55px;
    display: inline;
    text-align: center;
    float: left;
    margin-right: 25px;
}

.btn-app:link,
.btn-app:visited {
    border: 0;
}

.btn-app img {
    margin-right: 10px;
    height: 50px;
    width: auto;
}


/* ------------------------------------------- */
/* CITIES */
/* ------------------------------------------- */

.section-cities {
    margin-bottom: 80px;
}

.box img {
    width: 100%;
    height: auto;
}


/* ------------------------------------------- */
/* CUSTOMER TESTIMONIALS */
/* ------------------------------------------- */

.section-testimonials {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(img/back-customers-min.jpg);
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/back-customers-min.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/back-customers-min.jpg);
    background-size: cover;
    background-position: center;
    height: 75vh;
    color: #fff;
    background-attachment: fixed;
}

blockquote {
    font-style: italic;
    line-height: 145%;
    word-spacing: 2px;
    font-size: 100%;
    position: relative;
    margin-top: 40px;
}

blockquote:before {
    content: "\201C";    /* ISO special character for css this is = " */
    font-size: 500%;
    display: block;
    position: absolute;
    top: -10px;
    left: -15px;
}

cite {
    margin-top: 25px;
    font-size: 90%;
    display: block;
}

cite img {
    height: 45px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}


/* ------------------------------------------- */
/* SIGN UP & PRICING */
/* ------------------------------------------- */

.section-plans {
    background-color: #f4f4f4;
}

.plans-box {
    border-radius: 5px;
    background-color: #fff;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 80px;
    -webkit-box-shadow: 0px 2px 2px #e6e6e6;
    box-shadow: 0px 2px 2px #e6e6e6;
}

.plans-box div {
    padding: 15px;
    border-bottom: 1px solid #ededed;
}

.plans-box div:first-child {
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.plans-box div:last-child {
    text-align: center;
    border: 0;
}

.plan-price {
    font-size: 300%;
    font-weight: 100;
    margin-bottom: 10px;
    margin-top: 0;
    color: #e67e22;
}

.section-plans span {
    font-size: 30%;
    font-weight: 300;
}

.plan-price-meal {
    font-size: 80%;
    margin: 0;
}

.plans-box ul {
    list-style: none;
}

.plans-box ul li {
    padding: 5px 0;
}


/* ------------------------------------------- */
/* FORM */
/* ------------------------------------------- */

.section-form {
    margin-bottom: 80px;
}

.contact-form {
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

input[type=submit]:hover {
    cursor: pointer;
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

*:focus { 
    outline: none; 
}


/* ------------------------------------------- */
/* FOOTER */
/* ------------------------------------------- */

footer {
    background-color: #383838;
    font-size: 80%;
    padding: 50px;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-nav {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-nav li {
    display: inline-block;
    padding: 7px;
    margin-right: 7px;
}

.footer-nav li:last-child,
.social-nav li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited {
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #f2f2f2;
}

.social-nav li a:link,
.social-nav li a:visited {
    border: 0;
    color: #888;
    font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    -webkit-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-social-facebook:hover,
.ion-social-facebook:active {
    color: #1877F2
}

.ion-social-twitter:hover,
.ion-social-twitter:active {
    color: #1DA1F2;
}

.ion-social-googleplus:hover,
.ion-social-googleplus:active {
    color: #dd4b39;
}

.ion-social-instagram:hover,
.ion-social-instagram:active {
    color: #E4405F;
}

footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}


/* ------------------------------------------- */
/* ANIMATION ON SCROLL */
/* ------------------------------------------- */

.js--wp-1,
.js--wp-2,
.js--wp-3 {
    opacity: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.js--wp-4 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.js--wp-1.animate__animated,
.js--wp-2.animate__animated,
.js--wp-3.animate__animated {
    opacity: 1;
}